.container-analyze {
  width: 100%;
  padding: 30px;
  margin: 140px;
  margin-top: 80px;
  margin-right: 28px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.filter-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #45a049;
} 

.main-container {
  display: flex;
      height: calc(300vh - 100px);
      overflow: hidden;
      margin-left: -180px;
      width: 100%;

}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f7f8fc;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

.filter-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left:10px;
}

.filter-button:hover {
  background-color: #45a049;
}

/* Statistic Sections */
.statistic-section {
  width: 100%;
  padding: 15px;
}

.statistic-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 5px;
}
.statistic-table,.statistic-table-2 {
  width: 100%;
  border-collapse: collapse;
}

.statistic-table th,
.statistic-table td {
  border:1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.statistic-table th {
  background-color: #f2f2f2;
}
.statistic-table img {
  width: 130px;
 
}
.detail-info {
  color: #c12f2f;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.detail-info:hover {
  color: #8b0000;
}

.detail-info i {
  font-size: 16px;
}


