.container-main {
    display: flex;
    flex-direction: row;
    margin-top: 98px;
    margin-left: 62px;
    justify-content: space-around;
}

.overview-order {
    border-width: 1px;
    border-style: solid;
    border-color: #35635A;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    height: 130px;
    
    padding: 10px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px #35635A;
    flex: 1;
    
}
.order-notyet-process {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.info-overview-order {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: bold;
    
}
.button-handle {
    margin-left: 50px;
    height: 40px;
    width: 80px;
    background-color: #6AA173;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.button-handle:hover {
    background-color: #35635A;
}
.notice {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    
}
.avatar-customer {
    margin-top: 0;
     margin-left: 10px;
      width: 100px;
       height: 100px;
        border-radius: 50%; 
}
/* @media (max-width: 1024px) { 
    .container-main {
        display: flex;
        flex-direction: column;
        margin-top: 98px;;
        justify-content: space-around;
    }
    
    
}
@media (max-width: 600px) {
    
} */

@media only screen and (max-width: 47.9375em) {
    .container-main {
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        justify-content: space-around;
        margin-right: 10px;
        margin-left: 0;
        
    }
    .container-main {
        
        margin-right: 10px;
        margin-top: 98px;
    }

    .overview-order {
        width: 80%;
        padding: 15px;

    }

    .info-overview-order {
        margin-left: 0;
        text-align: center;
        font-size: 12px;
        font-size: 12px;
    }

    .button-handle {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .notice {
        font-size: 24px;
        margin-top: 20px;
        padding: 0 10px;
    }
    .avatar-customer {
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 1024px) { 
    .container-main {
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        margin-left: 70px;
        justify-content: space-around;
        margin-right: 10px;
        margin-left: 0;
        
    }
}
